@import url('https://fonts.googleapis.com/css?family=Rubik:500,700');

body {
  margin: 0;
  padding: 0;
  background-color: #0B0C0D;
  font-family: Rubik, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: Rubik, sans-serif;
  font-size: 2.25rem;
  letter-spacing: .5px;
  color: white;
}
